node_modules
bower_components
dist
build

/.idea/compiler.xml
/.idea/encodings.xml
/.idea/copyright/profiles_settings.xml
/.idea/workspace.xml
/.idea/codeStyles/codeStyleConfig.xml
.DS_Store
.idea/shelf/

